
.search-wrapper
  border: 2px solid #000
  padding-bottom: 60px
  padding-top: 20px
  margin: 0 auto
  width: 90%
  margin-top: 30px
  margin-bottom: 30px
h1
  text-align: center
.prefs
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  flex-wrap: wrap
  margin: 30px 0