<div class="titile">
  <h1>2017年衆議院選挙候補者ナビ</h1>
</div>
<div class="typo-2">
  このサイトでは、郵便番号からあなたの住む地域の選挙区と立候補者を検索し、その候補者の情報を表示することができます。
  全ての候補者の情報は、中立的な立場で収集した事実情報に基いています。
</div>
<div>
<%= render partial:'layouts/molecules/searchbar'%>
</div>
<div class="typo-2">
  このサイトで利用している情報は、<a href="http://election.code4japan.org/">Code for 選挙プロジェクト</a>で作られたオープンデータを利用しています。<br/>
  データに不備を発見した場合や、データ収集に協力いただける方は、<a href="https://github.com/codeforjapan/codeforelection">プロジェクトページ</a>からご連絡ください。
</div>
