<div class="titile">
  <h1>2017年衆議院選挙候補者ナビ</h1>
</div>
<div class="typo-2">
  このサイトでは、郵便番号からあなたの住む地域の選挙区と立候補者を検索し、その候補者の情報を表示することができます。
  全ての候補者の情報は、中立的な立場で収集した事実情報に基いています。
</div>
<div>
<%= render partial:'layouts/molecules/searchbar'%>
</div>
