<h1>Code for 選挙</h1>

<%= form_tag("/search", method: "get") do %>
  <%= render :partial=>'layouts/m/searchbar', :locals=>{ propName:"zip_code",placeHolder:'郵便番号', val:'値'} %>
  <%= submit_tag("Search") %>
<% end %>


<h2>atoms</h2>
<div class="typo-1">typo-1</div>
<div class="typo-2">typo-2</div>
<div class="typo-text-1">typo-text-1</div>

<hr />

<h2>molecules</h2>
<%= render partial:'layouts/m/searchbar', locals: {propName:'prop', placeHolder:'郵便番号', val:''} %>
<div class="person">
    <img src="/assets/Person@2x.png" />
</div>

<h2>organisms</h2>
<div class="person-item">
    <div class="person">
        <img src="/assets/Person@2x.png" />
    </div>
    <div class="typo-text-1">僕は甘党</div>
    <div class="column">
        <div class="typo-2 person-name">山田太郎</div>
        <div class="typo-text-1 person-age">30</div>
    </div>
    <div class="column">
        <div class="typo-text-1 former-job">ニート</div>
        <div class="typo-text-1 duplication">無</div>
    </div>
</div>

