<section id="top">
  <div class="container">
    <div class="titile">
      <h1 class="typo-1">2017年衆議院選挙<br class="sp" />候補者インフォ</h1>
    </div>
    <div class="search-wrapper">
      <h1>郵便番号で検索</h1>
      <%= render partial:'layouts/molecules/searchbar'%>
      <h1>候補者名で検索</h1>
      <%= render partial:'layouts/molecules/searchbar_by_name'%>
    </div>
    <div class="typo-2">
      このサイトでは、郵便番号からあなたの住む地域の選挙区と立候補者を検索し、その候補者の情報を表示することができます。
      全ての候補者の情報は、中立的な立場で収集した事実情報に基いています。
    </div>
  </div>
</section>

<section id="area-block">
  <div class="container">


    <h1>小選挙区</h1>
    <div class="prefs">
      <% Pref.all.order(:id).each do |pref| %>
        <%= render 'layouts/senkyokus/senkyoku-block',
          label_name: pref.name,
          link_url: "/senkyoku/#{pref.pref_code}"
        %>
      <% end %>
    </div>


    <h1>比例代表</h1>
    <div class="prefs">
      <% HireiSenkyoku.all.order(:id).each do |hirei| %>
        <%= render 'layouts/hirei-senkyokus/hirei-senkyoku-block',
          label_name: hirei.name,
          link_url: hirei_senkyoku_path(hirei.name)
        %>
      <% end %>
    </div>


  </div>
</section>
