<%= render :partial=>'layouts/organisms/list-header', :locals=>{ senkyokuName: @senkyoku.name} %>

<% if @senkyoku.present? %>
  <div class="candidate-wrapper">
    <%= render partial: 'candidate', collection: @senkyoku.candidates.order('submission_order ASC') %>
  </div>
<% else %>
  <p>入力された郵便番号では選挙区は見つかりませんでした</p>
<% end %>
