<% if isSyosenkyoku == true %>
<div class="area-type">
  <div class="typo-text-3">小</div>
</div>
<% end %>

<% if isHirei == true %>
<div class="area-type">
    <div class="typo-text-3">比</div>
</div>
<% end %>
