<div class="search-bar">
    <form action="/search_by_name", method="get">
        <input type="text"
            name="<%= :keyword %>"
            class="typo-2"
            placeholder="候補者名を入力してください"
        />
        <input type="image" value=" " class="fa fa-search"/>
    </form>
</div>
