<div class="icons-wrapper">
  <% if facebookLink.present? %>
    <%= link_to image_tag("Facebook.png", size: "38x38", alt: "Facebook Link", class: "icon-item"), facebookLink, { class: "icon-link" } %>
  <% end %>
  <% if internetLink.present? %>
    <%= link_to image_tag("Internet.png", size: "38x38", alt: "Internet Link", class: "icon-item"), internetLink, { class: "icon-link" } %>
  <% end %>
  <% if twitterLink.present? %>
    <%= link_to image_tag("Twitter.png", size: "38x38", alt: "Twitter Link", class: "icon-item"), twitterLink, { class: "icon-link" } %>
  <% end %>
</div>
