@import "../atoms/responsive.sass"
.search-bar
  height: 60px
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #BDBDBD
  border-radius: 60px
  position: relative
  width: 430px
  margin: 0 auto
  background-color:  #FFFFFF
  @media #{$sp}
    height: 45px
    width: 325px
  @media #{$xs}
    width: 260px
  form
    width: 100%
  .typo-2
    width: 80%
    border: none
    padding: 0
    margin: 0 40px
    background: transparent
    text-align: center
    @media #{$xs}
      margin: 0 25px
  .fa-search
    position: absolute
    font-size: 24px
    line-height: 36px
    right: 20px
    top: 0.5em
    @media #{$sp}
      line-height: 21px
