.senkyoku-block
  width: 120px
  height: 120px
  background-color: #219653
  margin: 5px
  &:hover
    background-color: #1C7D46
    transition: .1s
  .typo-text-1
    width: 100%
    text-align: center
    font-size: 1.5em
    text-decoration: none
    height: 120px
    line-height: 120px
    a
      color: #FFFFFF
      text-decoration: none
      display: block
