<div class="search-bar">
    <input type="text"
        name="<%= propName %>"
        class="typo-2"
        placeholder="<%= placeHolder %>"
        value="<%= val %>"
    />
    <i class="fa fa-search" aria-hidden="true" ></i>
</div>