<div class="typo-2" id="footer">
  このサイトで利用している情報は、<a href="http://election.code4japan.org/">Code for 選挙プロジェクト</a>で作られたオープンデータを利用しています。<br/>
  データに不備を発見した場合や、データ収集に協力いただける方は、<a href="https://github.com/codeforjapan/codeforelection">プロジェクトページ</a>からご連絡ください。<br/>
  サイト運営：<a href="http://election.code4japan.org/">Code for 選挙プロジェクト</a>
</div>