<div class="person-block">
  <div class="profile">
    <div class="typo-text-1">僕は甘党</div>
    <div class="column">
        <div class="typo-2 person-name"><%= name %></div>
        <div class="typo-text-1 person-age"><%= age %></div>
    </div>
    <div class="typo-text-1 former-job"><%= job %></div>
  </div>
  <%= render partial:'layouts/molecules/person', locals: {src: image} %>
</div>
