<div class="list-header">
  <div class="header-search-bar">
    <%= render :partial=>'layouts/molecules/searchbar', :locals=>{ propName:"zip_code",placeHolder:'郵便番号', val:'値'} %>
  </div>
  <div class="header-senkyoku-name">
    <h1 class="typo-1"><%= header %></h1>
  </div>
</div>
