<%= render partial:'layouts/static/default',
locals: {
    header: APP_SUB_TITLE + 'について',
} %>
<section id="area-block">
  <div class="container">
    <div class="default">
    <p>
候補者や政党を選んで投票するためには対象をよく知る必要があります。そのためにインターネットは本来便利に使えるツールであるはずです。しかしながら公式な発表は紙であったりPDFであったり、利用しやすいデータはなかなか見つかりません。現状は各種メディアやボランティアが個々の努力で情報を収集し見やすく提供する役割を果たしていますが、集められたデータが明示的に二次利用可能な形で公開されていることはあまりありません。<br/>
東日本大震災の際に電力会社が利用状況をAPIで提供したところ勝手アプリが次々と立ち上がって様々な視覚化が行われました。公共性の高いデータは利用しやすい形式（CSVで十分）で提供することで、様々な利用が促進される可能性があります。<br/>
今回私達が作っているデータは本サイト(kouhosha.info)で人間が検索しやすい画面形式で提供すると同時に、<strong>オープンなライセンスの機械が処理しやすいCSVなどの形式でも提供します。</strong>様々な用途に利用され、客観的な事実に基づく意思決定の一助となることを願ってやみません。<br/>
    </p>

    <h2 class="type-1">利用規約</h2>
<p>
本サイトの検索結果として表示されるデータや、一括ダウンロードできるCSVなどのデータは特に断りが無い限り、<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja">CC0（いわゆるパブリック・ドメイン相当）</a> の下に公開します。従ってクレジット表記等なしに自由に利用可能で、他のライセンスのコンテンツとの混ぜ合わせ利用も（当方としては）問題ありません。
なお、Code for 選挙プロジェクトは利用者がコンテンツを用いて行う一切の行為（コンテンツを編集・加工等した情報を利用することを含む。）について何ら責任を負うものではありません。また、コンテンツは、予告なく変更、移転、削除等が行われることがあります。内容の誤りや過不足についてはフィードバックを頂ければ幸いです。
    </p>
    <h2 class="type-1">運営者について</h2>
<p>
  本サイトの運営、及びデータ収集については、<a href="http://code4japan.org/"</a>Code for Japan</a>の呼びかけに応じて集まった、<a href="http://election.code4japan.org/">Code for 選挙プロジェクトチーム</a>によって行われています。このプロジェクトには、誰でも参加することが可能です。<br/>
  本サイト自体の改善作業に加わりたい方は、<a href="https://github.com/codeforjapan/codeforelection_front">本サイトのGithubリポジトリ<a/> をご覧ください。<br/>
  データ作成のプロジェクトに加わりたい方は、<a href="https://github.com/codeforjapan/codeforelection">候補者データベース作成リポジトリ<a/> を御覧ください。<br/>
  また、議論に加わりたい方は、<a href="https://cfjslackin.herokuapp.com">Code for Japan の Slack チーム<a/> にご加入いただき、#codeforelection チャンネルに加わってください。
    </p>
    <h2 class="type-1">謝辞</h2>
    <p>
謝辞：本サイトの構築やデータ収集にあたりボランタリーに参加してくれたエンジニア、デザイナー、高校生、非営利組織の方々など、そしてデータを一部提供頂いた政治Navi(Dot-jp)のみなさま、ありがとうございました。
</p>
  </div>
</div></section>
