<%= render partial:'layouts/static/default',
locals: {
    header: @title,
} %>
<section id="area-block">
  <div class="container">
    <div class="default">
    <p>
本サイトの検索結果として表示されるデータや、一括ダウンロードできるCSVなどのデータは特に断りが無い限り、<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja">CC0（いわゆるパブリック・ドメイン相当）</a> の下に公開します。従ってクレジット表記等なしに自由に利用可能で、他のライセンスのコンテンツとの混ぜ合わせ利用も（当方としては）問題ありません。
なお、Code for 選挙プロジェクトは利用者がコンテンツを用いて行う一切の行為（コンテンツを編集・加工等した情報を利用することを含む。）について何ら責任を負うものではありません。また、コンテンツは、予告なく変更、移転、削除等が行われることがあります。内容の誤りや過不足についてはフィードバックを頂ければ幸いです。
    </p>

    <h2 class="type-1">データ形式について</h2>
<p>
  本サイトのデータは、以下のリンクからダウンロードして利用することができます。<br/>

  <a href="/download.csv">候補者データダウンロード</a>
  <br/><br/>
  文字コードはUTF8で、以下のデータが含まれています。<br/>
  wikidata,名前（フル）,名前（姓）,名前（名）,選挙用表記名/別名,かな,公認政党,推薦政党,以前の政党,立候補,前回,届け出順,比例名簿順位,都道府県,小選挙区番号,比例区,小選挙区,過去の立候補歴,過去の当選歴,性別,誕生日,年齢,誕生年,写真,twitter,フェイスブックID,公式Facebookページ,LINEアカウント,youtube channel,Instagram,公式サイト,メールアドレス,公式ブログ,詳細情報URL,出生地,学歴（履歴）,学歴（最新）,職歴,公職,父親,配偶者,メモ,Wikidata URL,Wikipedia URL


    </p>
  </div>
</div></section>
