<div class="titile">
  <h1>2017年衆議院選挙候補者インフォ</h1>
</div>
<div class="typo-2">
  このサイトでは、郵便番号からあなたの住む地域の選挙区と立候補者を検索し、その候補者の情報を表示することができます。
  全ての候補者の情報は、中立的な立場で収集した事実情報に基いています。
</div>

<h2>お探しのリソースは見つかりませんでした</h2>
