<!DOCTYPE html>
<html>
  <head>
    <title>CfjElectionFront</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/0c583bc461.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
